<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        // class Vue {
        //     constructor() {

        //     }
        //     count(a, b) {
        //         return a + b
        //     }
        //     $message(jkl) {
        //         alert(jkl.type ? (jkl.type == 'warning' ? '失败' : '成功') : '')
        //         alert(jkl.type = 'warning');
        // if (jkl.type == 'success') {
        //     alert(jkl.type + '，用户信息密码错误')
        // } // else if (jkl.type == 'warning') {
        //     alert('失败，用户信息密码错误')
        // }
        //     }
        // }
        // let vm = new Vue();
        // vm.prototype.count = count;
        // let res = vm.count(10, 20);
        // vm.$message({
        //     type: 'warning',
        //     message: '阿'
        // })

        // console.log(vm.count(10, 20));
        // class Animal {
        //     constructor(name) {
        //         this.name = name;
        //     }
        //     can(fn) {
        //         this.run = fn;
        //     }
        // }

        // function run() {
        //     console.log(this.name + '跑起来了!');
        // }
        // let dog = new Animal('小狗');
        // dog.can(run);
        // dog.run();

        //装饰者模式

        //use 底层实现原理
        class Vue {
            constructor(options) {
                this.created = options.created
                setTimeout(() => {
                    this.created();
                })
            }
            static use(fn) {
                fn(Vue)
            }
        }

        function fn() {
            Vue.prototype.$message = function() {
                console.log('hello world');
            }
        }
        let vm = new Vue({
            created() {
                console.log(this);
                this.$message();
            }
        });
        Vue.use(fn);
    </script>
</body>

</html>